/*.substvars
/*.debhelper
/*.debhelper.log

/autoreconf.after
/autoreconf.before
/files

/libsnmp-base/
/libsnmp-dev/
/libsnmp-perl/
/libsnmp30-dbg/
/libsnmp30/
/python-netsnmp/
/snmp/
/snmpd/
/tkmib/
/tmp/
